* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    color: #242423;
}

:root {
    --light-background: #FCFCFC;
    --dark-background: #242423;
    --red-mentor:  #990000;
    --title-h1: #3D3B37;
}

body {
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
}

/* ==> This is Heading and Navigator */

#header {
    width: 100%;
    height: auto;
    
}

#header h1 {
    font-size: 5rem;
    text-align: center;
    padding-top: 1rem;
    letter-spacing: 2px;
    color: var(--title-h1);
    font-family: 'Alfa Slab One', cursive;;
}

#header span {
    color: var(--red-mentor);
    font-family: 'Alfa Slab One', cursive;
}

/* END <===Heading */

/* ===> START main section and articles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 10rem 1rem 10rem;
}

.poll-card {
    margin-bottom: 1rem;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    height: 20rem;
}

#poll {
    width: 40%;
    padding: 2rem;

}

#poll h1 {
    font-family: 'Fira Sans', sans-serif;
}
#poll a {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline ;
}

.poll-card img {
    width: 60%;
}

.fetch-news {
    
    width: 100%;
    
}

#news-item {
    border: 1.5px solid grey;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#news-item h1 {
    font-weight: 800;
    font-size: 1.3rem;
    color: var(--red-mentor)
}
#news-item a {
    text-decoration: underline;
}
#news-item span {
    font-weight: bold;
}
/* Loading spinner */
.spinner {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -48%);
    border: 0.2rem solid #c6c6c6;
    border-top: 0.2rem solid red;
    border-radius: 50%;
    animation: spin 1s infinite;
}
  
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  /* End of loading spinner */

/* Pagination */

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--light-background);
    padding: 1rem;
  }

  .paginationBttns li {
    background: none;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid var(--red-mentor);
    color: var(--red-mentor);
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: var(--red-mentor);
  }
  
  .paginationActive a {
    color: white;
    background-color: var(--red-mentor);
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
    border-color: grey;
  }

/* END <==== main */

.foot-links {
    height: 5rem;    
    border-top: 4px solid #990000;
    border-top-style: double;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    
}
.foot-links a {
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--red-mentor);
    font-family: 'Fira Sans', sans-serif;
}