nav {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 0.5rem double #990000;
    margin-top: 1rem;
}

nav > ul {
    background-color: #990000;
    width: 100%;
    padding: 1rem;
    margin: 0 10rem 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav-bar li {
    list-style-type: none;
    display: inline;
    color: #FCFCFC;  
    
    font-family:  'Fira Sans', sans-serif;
    text-decoration: none;
}  


#nav-items {
    font-family:  'Fira Sans', sans-serif;
    font-size: 1.3rem;
    padding: 2rem;
    text-decoration: none;
    color: #fcfcfc;
}  

#nav-items.active {
    background-color: #FCFCFC;
    color:#990000;
    padding: 0.5rem 2rem;
    border: 1px solid #fcfcfc;    
}